<div>
    <div class="modal-header">
        
        <h4 class="modal-title w-100 ">ITEM DETAILS</h4>

         
    </div>
    <div>
        <a><button (click)="generatePDF()" style="float:right;"><mat-icon>print</mat-icon></button></a>
    </div>
    <!--Body section-->
    <div class="modal-body">
        <div>
            <span><strong>Name: </strong></span> - {{name}}
        </div>
        <div>
            <span><strong>Description: </strong></span> - {{description}}
        </div>
        <div>
            <span><strong>State: </strong></span> - {{state}}
        </div>
        <div>
            <span><strong>Category: </strong></span> - {{category}}
        </div>
        <div>
            <span><strong>Date of Purchase: </strong></span> - {{date}}
        </div>
        <div>
            <span><strong>Image: </strong></span> - {{img}}
        </div>
        <div>
            <span><strong>Tags: </strong></span> - <span *ngFor="let thetag of tag"> {{thetag}}</span>
        </div>
    </div>


    <!-- Footer section -->
    <div class="modal-footer " style="margin-top: 2rem;">
        <a ><button type="button" (click)="closeModal()" style="background-color:#800000;color:#ffe8ff"> Close </button></a>
    </div>

</div>
