<div>
    <table style=" margin-left:15%" class=" bordered raised">
        <thead>
            <th>Name</th>
            <th>Description</th>
            <th>State</th>
            <th>Category</th>
            <th>Date Of Purchase</th>
            <th>Action</th>
            <!-- <th> Item Image</th>
            <th> Item tags</th> -->
        </thead>
        <!-- {{records}} -->
        <tbody *ngFor = 'let item of records'>
           
            <!-- <tr (click) = 'openDetails(item)'> -->
                <tr>
                <td>{{name}}</td>
                <td>{{description}}</td>
                <td>{{state}}</td>
                <td>{{category}}</td>
                <td>{{date | date}}</td>
                <td (click) = 'openDetails(item)' >View</td>
                <!-- <td>{{item?.img}}</td> -->
                <!-- <td *ngFor = "let tags of item['tag']">{{tags}}</td> -->
            </tr>
        </tbody>

    </table>
</div>
